@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');





body {
   
}


.counter {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 10px rgba(100,40,30,0.1);
    opacity: 1;
    width: 50%;;
    height: 53%;
    border-radius: 20px;;
    background-color: #fff;
}


.counter h1 {
    padding: 0 0 20px 0;
    margin:20px auto;
    text-align: center;
    border-bottom: 2px solid silver;
    font-family: 'DynaPuff', cursive;
    
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}


button {
    position: relative;
    top:130px;
    width:120px;
    height:40px;
    border-radius: 15px;;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}


button:hover{
    background:crimson;
    color:#fff;
    border-color:#2691d9;
    transition: 0.8s;
}
p {
    position: relative;
    top:190px;
    left:22px;
    font-size: 20px;
    
}